# Игнорируем node_modules во всех подпапках 
**/node_modules/ 
 
# Игнорируем файлы окружения 
.env 
.env.local 
 
# Игнорируем временные файлы 
.DS_Store 
thumbs.db 
 
# Игнорируем build-папки (если есть) 
**/build/ 